<form mathod="get" action="/arama/index">
    <label for="q">İsim : </label>
    <input type="text" name="q" placeholder="Ara ...">
</form>
<br><br>

<span>arama/index sayfasında <b><%=@q%></b> isimli arama sonucu</span>

<% if@kitaplar.count == 0 %>
    <span style="color:red;">Veri Bulunamadı !</span>
<% else %>
    <span style="color:green;">Veri Bulundu.</span>
<% end %>
<br><br>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>İsim</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        <% @kitaplar.each do |kitap| %>
            <tr>
                <td><%=kitap.id %></td>
                <td><a href="/kitaplar/<%=kitap.id %>"><%=kitap.isim %></a></td>
                <td><a href="/kitaplar/<%=kitap.id %>">/kitaplar/<%=kitap.id %></a></td>
            </tr>
        <% end %>
    </tbody>
</table>

<br>
<a href="/">Ana Sayfa</a>