<p id="notice"><%= notice %></p>

<p>
  <strong>Isim:</strong>
  <%= @kitap.isim %>
</p>

<p>
  <strong>Sayfa:</strong>
  <%= @kitap.sayfa %>
</p>

<p>
  <strong>Ozet:</strong>
  <%= @kitap.ozet %>
</p>

<%= image_tag @kitap.resim.url(:medium) if @kitap.resim? %> 

<%= link_to 'Edit', edit_kitap_path(@kitap) %> |
<%= link_to 'Back', kitaps_path %>
